---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'
import { Image } from 'astro:assets'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const projects = await getAllProjects()
  return projects.map((project) => ({
    params: { id: project.id },
    props: project,
  }))
}

const project = Astro.props
const { Content } = await render(project)
---

<Layout>
  <PageHead
    slot="head"
    title={project.data.name}
    description={project.data.description}
  />
  <Breadcrumbs
    items={[
      { href: '/about', label: 'Projetos', icon: 'lucide:layers' },
      { label: project.data.name, icon: 'lucide:rocket' },
    ]}
  />

  <section class="flex flex-col gap-y-6">
    {
      project.data.image && (
        <Image
          src={project.data.image}
          alt={project.data.name}
          width={1200}
          height={630}
          class="w-full rounded-2xl border border-primary/10 bg-background/40 object-contain"
        />
      )
    }

    <div class="flex flex-col gap-4">
      <div>
        <h1 class="mb-2 text-3xl font-medium sm:text-4xl">
          {project.data.name}
        </h1>
        <p class="text-muted-foreground text-sm sm:text-base">
          {project.data.description}
        </p>
      </div>

      {
        project.data.tags && (
          <div class="flex flex-wrap gap-2">
            {project.data.tags.map((tag: string) => (
              <Badge variant="secondary">{tag}</Badge>
            ))}
          </div>
        )
      }

      <div class="flex flex-wrap gap-2">
        <Link href={project.data.link} external class={buttonVariants()}>
          Abrir projeto
        </Link>
        <Link href="/about" class={buttonVariants({ variant: 'outline' })}>
          Voltar para projetos
        </Link>
      </div>
    </div>

    <article class="prose max-w-none">
      <Content />
    </article>
  </section>
</Layout>
